@model List<PersonViewModel>
@{

}
<a href="Person/Registrar"> Nuevo </a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Apellido</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
            </tr>
        }
    </tbody>
</table>