@model PersonViewModel
@{
}
<form asp-action="CreatePerson" asp-controller="Person">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Nombre">Nombre</label>
        <input type="text" class="form-control" asp-for="Nombre" placeholder="Ingresar nombre">
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Apellido">Apellido</label>
        <input type="text" class="form-control" asp-for="Apellido" placeholder="Ingresar apellido">
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>